<nav class="navbar navbar-expand-lg navbar-light bg-light header" style="background-color:#fff;">
    <a class="navbar-brand" href="#">
        <img src="assets/img/logo_small.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        

        <li class="nav-item dropdown">
            <button class="dropbtn">Discover</button>
          <div class="dropdown-content">
            <a href="#">Stratups</a>
            <a href="#">Events</a>
            <a href="#">Community</a>
            <a href="#">Ecosystem</a>
          </div>
        </li>

        <li class="nav-item dropdown">
            <button class="dropbtn">Engage</button>
          <div class="dropdown-content">
            <a href="#">Ask me Anything</a>
          </div>
        </li>

        <li class="nav-item dropdown">
            <button class="dropbtn">Deals</button>
          <div class="dropdown-content">
            <a href="#">Browse Anything</a>
          </div>
        </li>


        <li class="nav-item dropdown">
        <button class="dropbtn">More</button>
      <div class="dropdown-content">
        <a href="#">How it works</a>
        <a href="#">Topics</a>
        <a href="#">Activity Feed</a>
        <a href="#">What's New</a>
        <a href="#">FAQs</a>
        <a href="#">Contact Us</a>
        <a href="#">Blog</a>
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
      </div>
    </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">&nbsp;
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
        <div class="dropdown" style="padding:10px;">
            <button class="dropbtn" style="background-color:#ec6733;color:#fff;height:40px;">+ Add New</button>
            <div class="dropdown-content">
              <a href="#">Organization</a>
              <a href="#">Event</a>
              <a href="#">Deal</a>
            </div>
          </div>

          <div style="padding:10px;">
              <button type="button" class="btn btn-outline-primary" style="color:#ec6733;border-color:#ec6733;" ><b>Log In</b></button>       
          </div>
          <div style="padding:10px;">
              <button type="button" class="btn btn-outline-primary" style="color:#7f7f7f;border-color:#7f7f7f;" ><b>Sign Up</b></button>   
          </div>
      
    </div>
  </nav>
