
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
<br/>
<div class="right" height="10px;">
 <table >
   <tr class="border">
     <td><img src="assets/img/Balareddy.jpg" class="img"></td>
     <td>Sankeerth Jullapally joined Startup Byte</td>
   </tr>
   <tr class="border">
      <td><img src="assets/img/default.png" class="img"></td>
      <td>Sunil Gunda joined Startup Byte</td>
    </tr>
    <tr class="border">
        <td><img src="assets/img/default.png" class="img"></td>
        <td>Chethan Mittapalli followed Pobyt</td>
      </tr>
      <tr class="border">
          <td><img src="assets/img/default.png" class="img"></td>
          <td>Neetu Rajput joined Startup Byte</td>
        </tr>
        <tr class="border">
            <td><img src="assets/img/Balareddy.jpg" class="img"></td>
            <td>Yogesh K joined Startup Byte</td>
          </tr>
          <tr class="border">
              <td><img src="assets/img/default.png" class="img"></td>
              <td>Komal Rawat joined Startup Byte</td>
            </tr>
            <tr class="border">
                <td><img src="assets/img/Balareddy.jpg" class="img"></td>
                <td>Sankeerth Jullapally joined Startup Byte</td>
              </tr>
              <tr class="border">
                  <td><img src="assets/img/default.png" class="img"></td>
                  <td>Anurag Dhiman replied to question - Marketing Automation for Startups - m ,dv md fm</td>
                </tr>
                <tr class="border">
                    <td><img src="assets/img/default.png" class="img"></td>
                    <td>5Ine Developer added an org - 5ine Web Solutions Pvt Ltd</td>
                  </tr>
 </table>
</div>