<div class="row middle">
    <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="assets/img/ArjunMaheswari.jpg" style="width:70%;">
        <p><b>Arjun Maheswari</b></p>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <p style="margin-top:10px;color:#000;font-size:26px;">Market Automation for Startups</p>
        <p>Co-Founder at Beatout.com, An Omni-Channel Marketing Tool Automation Tool</p>
        <p>Mar 8, 2018 11:00 AM | Mar 8, 2018 1:00 PM</p>
        <button style="background-color:#ec6733;color:#ffffff;">Ask Question</button>
  </div>
  

</div>
<br/>
<div class=" row middle">
  <div class="col-lg-12 col-md-12 col-sm-12">
      <p><i>Ask your questions rightaway and you will be notified via email as soon as the speaker answers your question</i></p>
      <h3>About the Speaker</h3>
      <p>Hi,</p>
      <p>I'm Arjun, Co-founder and COO at Betaout.com , an Omni-Channel Marketing Automation Tool. Our powerful machine learning algorithms help digital marketers do meaningful marketing across channels.</p>
      <p>Some cool facts about me:</p>
      <ul>
        <li>Over 10 years of start-up experience in Saas industries, from Content to Automation</li>
        <li>Worked in Product and Ops based roles</li>
        <li>Hold a LLB degree from Aligarh Muslim University</li>
        <li>Avid Reader</li>
        <li>Diet conscious who has reduced his weight by 40kgs</li>
      </ul>

      <p>You can ask me anything about:</p>
      <ul>
        <li>When should you consider marketing automation</li>
        <li>How can Marketing Automation enable Startups/li>
        <li>How can you leverage Marketing Automation for e-commerce companies.</li>
        <li>Arjun's journey on how he went out to build Betaout.</li>
        <li>Fundraising (Betaout raised around $2 Million in multiple rounds from prominent angel investor groups that include Beenext, Stanford Angels, Letsventure, Chennai Angels, Hyderabad Angels, and Mumbai Angels))</li>
      </ul>
      <h3>Resources</h3>
      <a href="https://economictimes.indiatimes.com/small-biz/startups/betaout-the-marketing-platform-that-has-tinders-sam-yagan-excited/articleshow/56231885.cms">
        https://economictimes.indiatimes.com/small-biz/startups/betaout-the-marketing-platform-that-has-tinders-sam-yagan-excited/articleshow/56231885.cms
      </a><br/>
      <a href="https://techcrunch.com/2016/04/19/betaout/">
        https://techcrunch.com/2016/04/19/betaout/
      </a><br/>
      <a href="https://www.techinasia.com/betaout-marketing-software-for-ecommerce">
        https://www.techinasia.com/betaout-marketing-software-for-ecommerce
      </a>
    </div>
</div>